
<div class="container">
    <div class="row m-t-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Blog</a></li>
            <li class="breadcrumb-item active">Post Title</li>
        </ol>
    </div>

<!-- page title //-->
    <div class="row m-t-2 m-b-2">
        <div class="col-lg-12">
            <h1>Post Title</h1>
        </div>
    </div>
    <!-- feature //-->
    <div class="row">
        <div class="col-md-12">
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuadafames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricieseget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sitamet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentumsed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit egettincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enimac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesentdapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputatemagna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis,accumsan porttitor, facilisis luctus, metus</p>
        </div>
    </div>
    <!-- page body //-->
    <div class="row m-t-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-block">
                    <p><small>Posted by <a href="#">Admin</a> on January 1, 2016 in <a href="#">Category</a></small></p>
                    <p>Pellentesque habitant morbi tristique senectus et...</p>
                    <p><code>&lt;p&gt;this is what a code sample looks like&lt;/p&gt;</code></p>
                    <p>Pellentesque habitant morbi tristique senectus et netus...</p>
                    <!-- pre sample start //-->
                    <h4>pre sample code</h4>
                    <pre>This is what code will look like</pre>
                    <!-- pre sample end //-->
                    <!-- image //-->
                    <h4>responive image</h4>
                    <p><img src="img/image.jpg" class="img-fluid" alt="Responsive image"></p>
                    <!-- table //-->
                    <h4>table</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>john</td>
                            <td>smith</td>
                            <td>@jsmith</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>steve</td>
                            <td>stevens</td>
                            <td>@steve</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>mike</td>
                            <td>michaels</td>
                            <td>@mike</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- sidebar //-->
        <div class="col-md-4 hidden-md-down">
            <div class="card card-block">
                <h5 class="card-title">Recent Posts</h5>
                <div class="list-group">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisisin</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consecteturac</button>
                    <button type="button" class="list-group-item">Vestibulum ateros</button>
                </div>
                <div class="m-t-1"><a href="#">View More</a></div>
            </div>
            <div class="card card-block">
                <h5 class="card-title">Archives</h5>
                <div class="list-group">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisisin</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consectetuac</button>
                    <button type="button" class="list-group-item">Vestibulum ateros</button>
                </div>
                <div class="m-t-1"><a href="#">View More</a></div>
            </div>
            <div class="card card-block">
                <h5 class="card-title">Categories</h5>
                <div class="list-group">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                    <button type="button" class="list-group-item">Dapibus ac facilisisin</button>
                    <button type="button" class="list-group-item">Morbi leo risus</button>
                    <button type="button" class="list-group-item">Porta ac consecteturac</button>
                    <button type="button" class="list-group-item">Vestibulum ateros</button>
                </div>
                <div class="m-t-1"><a href="#">View More</a></div>
            </div>
        </div>
    </div>
</div>