
<div class="container">

<!-- page title //-->
    <div class="row m-t-3">
        <div class="col-lg-12">
            <h1>Contact</h1>
        </div>
    </div>
<!-- page body //-->
    <div class="row m-t-3 ">
        <div class="col-md-8">
            <form>
                <fieldset class="form-group ">
                    <label class="sr-only">Email</label>
                    <input type="email" class="form-control" placeholder="Enter email">
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label class="sr-only">Name</label>
                    <input type="text" class="form-control" placeholder="Name">
                </fieldset>
                <fieldset class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="3"></textarea>
                </fieldset>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Address &amp; Phone</div>
            <div class="card-block">
                <ul class="list-unstyled">
                    <li>Divya Karunakaran</li>
                    <li>441 Mount</li>
                    <li>Tauranga</li>
                    <li>New Zealand</li>
                    <li>0224528028</li>

                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- mailing list //-->

